@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-base-gray:#606060;
    --color-dark-blue:#1F1F1F;
    --color-dep-dark: rgba(218, 218, 218, 1);
    --color-green-blue: rgba(3, 55, 61, 1);
    --color-black-base: rgba(96, 96, 96, 1)
}

body{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: rgba(234, 236, 237, 1);
}