@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-base-gray:#606060;
    --color-dark-blue:#1F1F1F;
    --color-dep-dark: rgba(218, 218, 218, 1);
    --color-green-blue: rgba(3, 55, 61, 1);
    --color-black-base: rgba(96, 96, 96, 1);
    --color-input-label: rgba(15, 23, 42, 1);
    --color-input-text: rgba(148, 163, 184, 1);
}

body{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: rgba(234, 236, 237, 1);
}
.services{
    background: linear-gradient(180.00deg, rgba(238, 237, 252, 1),rgba(238, 237, 252, 0) 100%)
}
.active{
    @apply px-5 py-3 rounded-full bg-[#CAEB66]
}
